.tombol-1{
    text-decoration: none;
    color: #2b2727;
    background-color: #f7630c;
    border: 1px solid #f7630c;
    padding: 7px 20px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
}
.tombol-1:hover{
    color: #f7630c;
    background-color: #ffffff00;
    border: 1px solid #f7630c;
    transition: 0.3s;
}
.tombol-2{
    text-decoration: none;
    color: #f7630c;
    background-color: #ffffff00;
    border: 1px solid #f7630c;
    padding: 7px 20px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
}
.tombol-2:hover{
    color: #2b2727;
    background-color: #f7630c;
    border: 1px solid #f7630c;
    transition: 0.3s;
}




.c-hero {
    width: 100%;
    height: auto;
    padding: 0px 80px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.b-hero{
    width: 50%;
}

.c-hero h1 {
    margin: 0%;
    font-size: 34pt;
    
}
.c-hero h4 {
    margin-top: 0%;
    margin-bottom: 40px;
    font-size: 13pt;
    font-weight: 300;
    color: #ffffff;
}

.c-hero img {
    width: 500px;
    margin: auto;
}
.hero-kanan{
    text-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    .c-hero {
        padding: 30px;
        height: auto;
    }
    .b-hero {
        width: 100%;
        padding: 2  0px 0px;
    }
    .c-hero h1 {
        margin-top: 30px;
        font-size: 25pt;
    }
    .c-hero h4 {
        font-size: 10pt;
    }
    .c-hero img {
        width: 100%;
    }
}

/* Kategori */
.c-kategori {
    width: 100%;
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 20px 0px;
}
.c-kategori img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 0%;
    padding: 10px;
    box-sizing: border-box;
}
.c-kategori h4 {
    margin: 2px;
    font-size: 10pt;
    color: #f7630c;
}   
.box-kategori {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    height: 100px;
    align-content: flex-end;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #3d3d3d8c;
    transition: 0.3s;
}

.box-kategori:hover {
    box-shadow: 0px 0px 5px #f7630c;
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .c-kategori {
        padding: 20px 30px;
        overflow-x: auto; 
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        gap: 20px; 
        margin: 0%;
    }

}
/* End Kategori */

/* Info */
.c-info{
    width: 100%;
    height: auto;
    padding: 0px 80px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #0d124144;
    margin-bottom: 100px;
}
.b-info{
    display: flex;
    flex-wrap: wrap;
}
.banner-info{
    width: 100%;
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
}
.banner-info img{
    width: 25%;
    
}
.box-info{
    width: 50%;
    align-content: center;
}
.box-info h4{
    margin: 0%;
    font-size: 10pt;
    color: #f7630c;
}
.box-info h1{
    margin: 0%;
    font-size: 25pt;
    line-height: 1.1;
}
.box-info p{
    margin-bottom: 20px;
    font-size: 10pt;
}

.info-kiri{
    text-align: right;
    padding: 30px;
    box-sizing: border-box;
}
.info-kanan{
    padding-right: 90px;
    box-sizing: border-box;
}
.box-info img{
    margin: auto;
    width: 400px;
}


@media (max-width: 768px) {
    .c-info {
        padding: 30px;
        height: auto;
        margin-bottom: 40px;
    }
    .box-info {
        width: 100%;
    }
    .info-kiri {
        text-align: center;
        padding: 0px;
    }
    .info-kanan {
        padding-right: 0px;
    }
    .box-info img{
        margin: auto;
        width: 100%;
    }
    .banner-info{
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }
    .banner-info img{
        width: 100%;
    }
}


/* End Info */

/* Produk */
.c-produk{
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 50px;
}
.c-produk h1{
    margin: 0%;
}
.c-produk h4{
    margin: 0%;
    font-size: 10pt;
    color: #ec2323;
}
.c-produk p{
    margin-bottom: 20px;
    font-size: 10pt;
}

.c-box-produk{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-produk{
    width: 49%;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.box-produk img{
    width: 100px;
    height: auto;
    object-fit: contain;
}
.desc{
    width: 50%;
    margin: auto;
}
.desc-produk{
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
}
.desc-produk h4{
    margin: 0%;
    font-size: 13pt;
}
.desc-produk h5{
    margin: 0%;
    font-size: 9pt;
}
.desc-produk p{
    margin: auto;
    margin-bottom: 10px;
    font-size: 9pt;
}
.order{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    align-content: center;
}
.desc-produk a{
    text-decoration: none;
    color: #ffffff;
    background-color: #ec2323;
    border: 1px solid #ec2323;
    padding: 3px 10px;
    font-size: 8pt;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.3s;
}
.desc-produk a:hover{
    color: #ffffff;
    background-color: #ffffff00;
    border: 1px solid #be0404;
    transition: 0.3s;
}
.view-all{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #be0404;
    background-color: none;
    padding: 4px 15px;
    font-size: 10pt;
    border-radius: 4px;
    margin-top: 30px;
}
.view-all:hover{
    color: #ffffff;
    background-color: #ec2323;
    border: 1px solid #ec2323;
    transition: 0.3s;
}
@media (max-width: 768px) {
    .c-produk{
        margin-top: 30px;
    }
    .c-box-produk{
        width: 100%;
    }
    .h-produk{
        width: 100%;
    }
    .box-produk{
        width: 100%;
    }
    .order h5 {
        font-size: 7pt;
    }
    .desc{
        width: 100%;
    }
}
/* End Produk */


/* Contact */
.c-contact{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    align-content: center;
    align-items: center ;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.h-contact h4{
    margin: auto;
    color: #ec2323;
}
.h-contact h1 {
    margin: auto;
}
.c-contact p {
    margin: auto;
}

.c-box-contact {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;
    align-content: center;
    justify-content: center;
}

.contact-kiri, .contact-kanan {
    border-radius: 8px;
}

.contact-kiri {
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.contact-kanan form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box ;
    width: 450px;
}

.contact-kanan form input,
.contact-kanan form textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #d94e08;
    background-color: #2b2727;
    color: white;
    border-radius: 4px;
    font-size: 10pt;
}
.contact-kanan form input:focus,
.contact-kanan form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgba(247, 98, 12, 0.397);
}
.contact-kanan form textarea {
    resize: none;
    height: 150px;
}

.contact-kanan form button {
    padding: 0.8rem;
    border: none;
    background-color: #f7630c;
    color: #2b2727;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #d94e08;
}

.contact-kanan form button:hover {
    background-color: #2b2727;
    border: 1px solid #d94e08;
    color: #f7630c;
    
}

@media (max-width: 768px) {
    .c-box-contact {
        flex-direction: column;
    }
    .contact-kiri, .contact-kanan {
        width: 100%;
    }
    .contact-kiri{
        height: 300px;
    }
    .contact-kanan form {
        width: 100%;
        padding: 0px;
    }
}