body{
    font-family: 'Quantico';
    padding-top: 60px;
    margin: 0%;
    background-color: #1f1e22;
    color: #fff;
}
.active{
    color: #f7630c !important;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    align-items: center;
    background-color: #2e2e38;
    color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.profile{
    display: none;
}

.nav img {
    height: 15px;
}

.nav-link {
    display: flex;
    gap: 40px;
    transition: transform 0.3s ease-in-out;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.nav a:hover {
    color: #f7630c;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
    transition: transform 0.3s ease;
}

/* Responsive Mode */
    @media (max-width: 768px) {
        .nav{
            padding: 0px 40px;
        }
        .nav-link {
            position: fixed;
            top: 60px;
            right: 0;
            height: 100vh;
            width: 50%;
            padding: 30px;
            background-color: #2e2e38;
            flex-direction: column;
            text-align: center;
            justify-content: start;
            gap: 20px;
            border-left: 1px solid #00828b;
            transform: translateX(100%);
        }

        .profile{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #ffffff;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 20px;
            text-align: left;
        }
        .nav a{
            color: #ffffff;
        }
        .nama-profile h3{
            margin: 0%;
            font-size: 12pt;
        }
        .nama-profile p{
            margin: 0%;
            font-size: 8pt;
        }
        .nav-link.active {
            transform: translateX(0);
        }

        .hamburger {
            display: flex;
        }

        /* Animate Hamburger Menu Icon */
        .hamburger.active .line1 {
            transform: rotate(40deg) translate(10px, 10px);
        }

        .hamburger.active .line2 {
            opacity: 0;
        }

        .hamburger.active .line3 {
            transform: rotate(-40deg) translate(5px, -5px);
        }
    }
/* End Responsif */

/* footer */
footer{
    background-color: #0d124144;
    border-top: 1px solid #f1f1f1;
    margin-top: 100px;
    bottom: 0px;
}
.c-footer{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    align-content: center;
    align-items: center ;
}
.c-footer h3{
    margin: 0;
    color: #f7630c;
    margin-top: 20px;
}
.footer-tengah{
    text-align: center;
    align-content: flex-start;
}
.c-footer ul{
    list-style: none;
    padding: 0;
    margin: auto;
    text-align: left;
}
.c-footer li:hover{
    transform: translateX(3px);
}
.c-footer li a{
    margin: 5px 0;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 12pt;
}
.c-footer li a:hover{
    color: #f7630c;
}
.footer-box{
    width: 30%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.footer-box img{
    width: 150px;
    margin-bottom: 20px;
}
.footer-box p{
    font-size: 10pt;
}
.sosmed{
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 10px; 
}
.sosmed a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
}
.sosmed a:hover{
    color: #f7630c;
    transform: scale(1.2);
}
.copyright{
    text-align: center;
    margin-bottom: 20px;
    font-size: 10pt;
    align-content: center;
    padding: 0 0 10px 0;
    background-color: #1f1e22;
    border-top: 1px solid #f1f1f1;
    height: 40px;
}
@media (max-width: 768px) {
    .c-footer{
        flex-direction: column;
    }
    .footer-box{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .footer-box{
        padding: 10px 40px;
    }
    .footer-box ul{
        justify-content: center;
        text-align: center;
    }
    .sosmed{
        justify-content: center;
    }
}
/* End footer */
